# Aturan Penulisan Statement pada Python

1. Penulisan satu statement di dalam Python tidak diakhiri dengan tanda titik-koma

In [1]:
# Contoh
print("Halo Dunia!")
print("panjang = 100")
print("lebar = 23")

Halo Dunia!
panjang = 100
lebar = 23

2. *Statement* pada Pyhton dinyatakan dalam satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru *(new line).*

In [2]:
# Contoh
print("luas = panjang * lebar")

luas = panjang * lebar

3. Jika ada pernyataan yang panjangnya terdiri lebih dari 1 baris, maka dapat dilakukan dengan menggunakan tanda *backslash* (\).

In [3]:
# Contoh
print("volume = panjang * lebar *\
tinggi")

volume = panjang * lebar *tinggi

4. *Statement* yang ada di dalam atau diapit oleh tanda kurung seperti "[],{},()" tidak memerlukan tanda "\".

In [4]:
# Contoh
nama_hari = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']
print(nama_hari)

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']

5. Python menggunakan tanda indentasi (spasi) sebagai penanda blok. Panjang spasi atau indentasi untuk setiap baris yang ada dalam satu blok kode harus sama. Bila spasi atau indentasi dalam satu grup kode tersebut tidak sama, python akan menamplikan *sintaks error.*

In [5]:
# Contoh
usia = 7
if usia >= 7:
    print("diterima masuk SD")
    print("dinyatakan lulus")
else:
    print("tidak diterima masuk SD")
    print("dinyatakan gagal")

diterima masuk SD
dinyatakan lulus

6. Sebaga penanda *string*, Python menggunakan tanda kutip, baik tunggal ('), maupun ganda("). Tanda kutip tiga(""") digunakan untuk *string* multibaris.

In [6]:
# Contoh
namadepan = 'Alvin'
namalengap = "Alvin Agusta Wahyono"
alinea = """Berikut ini adalah alinea
yang terdiri dari beberapa baris."""
print(namadepan)
print(namalengap)
print(alinea)

Alvin
Alvin Agusta Wahyono
Berikut ini adalah alinea
yang terdiri dari beberapa baris.

7. Bahasa Python bersifat *case sensitif,* yang berarti membedakan huruf besar dan huruf kecil (memiliki nilai yang berbeda).

In [7]:
# Contoh statement yang benar
luas = 15*3
print(luas)

# Contoh statement yang salah
luas = 15*3
Print(luas)
PRINT(luas)

45

NameError: name 'Print' is not defined

8. Untuk komentar di awali dengan tanda "#" yang artinya tidak diproses sebagai *statement code.*

In [8]:
# Contoh
# perintah untuk menghitung luas
panjang = 15
lebar = 3
luas = (panjang*lebar)
print(luas)

45

# Keyword Python

| Daftar   | Keyword  |
|----------|----------|
| and      | if       |
| as       | import   |
| assert   | in       |
| break    | is       |
| class    | lambda   |
| continue | nonlocal |
| def      | not      |
| del      | or       |
| elif     | pass     |
| else     | raise    |
| except   | return   |
| finally  | try      |
| for      | while    |
| from     | with     |
| global   | yield    |

# Tentang Variabel

In [9]:
# Contoh-contoh variabel yang benar
_nama = 'Budi'
alamat = 'Jakarta Pusat'
Alamat2 = 'Kalimantan Timur'
print(_nama)
print(alamat)
print(Alamat2)

Budi
Jakarta Pusat
Kalimantan Timur

In [10]:
# Contoh-contoh variavel yang salah
nama mahasiswa = 'Budi'
2alamat = 'Jakarta Pusat'
alamat-rumah = 'Kalimantan Timur'
print(alamt-rumah)

SyntaxError: invalid syntax (<ipython-input-10-11400bbd5e78>, line 2)

In [11]:
# Contoh proses memasukan data ke dalam sebuah variabel
panjang = 100
lebar = 15
luas = panjang*lebar
nama = "Navida Wahyu"
print(luas)
print(nama)

1500
Navida Wahyu

In [12]:
# Contoh perubahan nilai dan tipe data variabel di tengah-tengah proses.
panjang = 150
print(panjang) # mencetak nilai umur
type(panjang)  # mengecek tipe data umur

panjang = "tidak diketahui"
print(panjang) # mencetak nilai umur
type(panjang)  # mengecek tipe data umur

150
tidak diketahui

str

# Tipe Data

Bahasa pemrograman Python mendukung dua tipe dasar yaitu teks dan numerik. Teks adalah tipe data yang berisikan karakter atau sekumpulan karakter, sedangkan tipe data numerik adalah tipe data bilangan

## Tipe Data Karakter *(String)*

In [13]:
# Contoh
nama = 'Alvin Agusta'
alamat = "Jl. Mangga No 2, Tegalrejo, Salatiga"
kelas = '9B'
print(nama)
print(alamat)
print(kelas)

type(nama)
type(alamat)
type(kelas)

Alvin Agusta
Jl. Mangga No 2, Tegalrejo, Salatiga
9B

str

## Tipe Data Numerik

* Tipe Data Integer<br>
  Tipe data yang menyatakan bilangan bulat.

In [14]:
# Contoh
umur = 43
nilai = 89
print(umur)
print(nilai)

type(umur)
type(nilai)

43
89

int

* Tipe Data Float<br>
  Tipe data yang menyatakan nilai bilangan desimal atau basis 10

In [15]:
# Contoh
phi = 3.14
luassegitiga = 125.75
print(phi)
type(phi)

print(luassegitiga)
type(luassegitiga)

3.14
125.75

float

* Hexadecimal<br>
  Tipe data yang menyatakan bilangan dalam format heksa (bilangan berbasis 16).

In [16]:
# Contoh
nilai = 17
print('Nilai hexadesimal dari 17 adalah '+hex(nilai))

Nilai hexadesimal dari 17 adalah 0x11

* Oktal<br>
  Tipe data yang menyatakan bilangan dalam format okta (bilangan berbasis 8).

In [17]:
# Contoh
nilai = 6776
print('Nilai octal dari 6776 adalah '+oct(nilai))

Nilai octal dari 6776 adalah 0o15170

## Tipe Data Lainnya

* Boolean adalah tipe data yang menyatakan jika benar bernilai **True** atau 1, atau jika salah bernilai **False** atau 0.

In [18]:
# Contoh
lulus = True
gagal = False
nilai = 80

if nilai > 65:
    print(lulus)
else:
    print(gagal)

if nilai < 65:
    print(lulus)
else:
    print(gagal)

True
False

* List adalah tipe data untaian, yaitu struktur data yang mampu menyimpan lebih dari satu data dengan berbagai tipe data. List dibuat seperti halnya variabel biasa, tetapi nilai variabelnya diisi dengan tanda kurung siku ("[]").

In [19]:
# Membuat List kosong
buah = []

# Membuat list berisi 1 tipe data
buah_isi = ["jambu","mangga","sawo"]

# Membuat list berisi beberapa tipe data
nomor = [25,"dua puluh",2.75]

print(buah)
print(buah_isi)
print(nomor)

[]
['jambu', 'mangga', 'sawo']
[25, 'dua puluh', 2.75]

* Tuple merupakan tipe data untaian yang juga menyimpan berbagai tipe data, tetapi bersifat *immutable,* artinya isinya **tidak bisa dirubah**. Tuple bisa dibuat di dalam sebuah tanda kurung, atau bisa juga tidak.

In [20]:
# Dengan tanda kurung
nilai=(90,78,'Lulus')

# Tanpa tanda kurung
nilai_=90,78,'Lulus'

print(nilai)
print(nilai_)

(90, 78, 'Lulus')
(90, 78, 'Lulus')

# Operator
Operator digunakan untuk memanipulasi nilai suatu variabel. Variabel yang nilainya dimodifikasi oleh operator disebut *operand*.

In [21]:
# Contoh
25*4 
# '25*4' disebut sebagai ekspresi
# '25' dan '4' disebut operand
# Tanda '*' disebut operator

100

## Arithmetic Operator
Operator ini merupakan operator yang biasa digunakan dalam operasi matematika.

| Operator | Operasi                     |
|----------|-----------------------------|
| +        | Penjumlahan                 |
| -        | Pengurangan                 |
| *        | Perkalian                   |
| /        | Pembagian                   |
| %        | Modulo atau sisa hasil bagi |
| **       | Pangkat                     |
| //       | Pembagian bulat             |

In [22]:
# Contoh Penjumlah
penjumlahan=24+8
print(penjumlahan)

# Contoh Pengurangan
pengurangan=25-3
print(pengurangan)

# Contoh Perkalian
perkalian=12*3
print(perkalian)

# Contoh Pembagian
pembagian=50/5
print(pembagian)

# Contoh Modulo
modulo=34%4
print(modulo)

# Contoh Pangkat
pangkat=2**4
print(pangkat)

# Contoh Pembagian bulat
pembagian_bulat=24//3
print(pembagian_bulat)

32
22
36
10.0
2
16
8

## Assignment Operator
Assignment Operator atau yang juga biasa disebut operator penugasan merupakan operator yang digunakan untuk memberikan nilai ke suatu variabel atau variabel ke variabel. Simbol operator ini adalah "sama dengan" (=).

| Operator | Fungsi                                                                           |
|----------|----------------------------------------------------------------------------------|
| =        | Memberikan nilai kepada sebuah variabel                                          |
| +=       | Untuk menambah nilai variabel di kiri dengan nilai di sebelah kanan              |
| -=       | Untuk mengurangi nilai variabel di kiri dengan nilai di sebelah kanan            |
| /=       | Untuk membagi nilai variabel di kiri dengan nilai di sebelah kanan               |
| %=       | Sisa hasil bagi antara nilai variabel di kiri dengan kanan                       |
| **=      | Melakukan operasi pangkat antara nilai variabel kiri dengan nilai di kanan       |
| //=      | Melakukan operasi membagi bulat antara nilai variabel kiri dengan nilai di kanan |

In [23]:
# Contoh Operator =
a = 10
print(a)

# Contoh Operator +=
x=2
x+=10
print(x) # 14=4+10

# Contoh Operator -=
x1=9
x1-=5
print(x1) # 4=9-5

# Contoh Operator /=
x2=2
x2/=10
print(x2) # 0.2=2/10

# Contoh Operator %=
x3=3
x3%=5
print(x3) # 3=3%5

# Contoh Operator **=
x4=3
x4**=5
print(x4) # 243=3**5

# Contoh Operator //=
x5=17
x5//=5
print(x5) # 3=17//5

10
12
4
0.2
3
243
3

## Comparison operators.
Operator ini dikenal juga dengan sebutan operator perbandingan atau relasional yaitu operator yang digunakan untuk melakukan perbandingan antara dua buah operand dan menghasilkan nilai **true** atau **false.**

| Operator   | Fungsi                            |
|------------|-----------------------------------|
| ==         | Sama dengan                       |
| != atau <> | Tidak sama dengan                 |
| <          | Kurang dari                       |
| >          | Lebih besar dari                  |
| <=         | Kurang dari atau sama dengan      |
| >=         | Lebih besar dari atau sama dengan |

In [24]:
# Contoh Operator == (Sama dengan)
t = True
f = False
a = 80
if a == 80:
    print(t)
else:
    print(f)
    
# Contoh Operator != atau <> (Tidak sama dengan)
if a != 65:
    print(t)
else:
    print(f)

# Contoh Operator < (Kurang dari)
if a < 100:
    print(t)
else:
    print(f)

# Contoh Operator > (Lebih besar dari)
if a > 65:
    print(t)
else:
    print(f)

# Contoh Operator <= (Kurang dari atau sama dengan)
if a <= 100:
    print(t)
else:
    print(f)

# Contoh Operator >= (Lebih besar dari atau sama dengan)
if a >= 65:
    print(t)
else:
    print(f)

True
True
True
True
True
True

## Logic Operator
Operator ini bisa digunakan untuk menggabungkan kondisi berganda dan menghasilkan sebuah ekspresi bernilai true atau false.

| Operator   | Fungsi                |
|------------|-----------------------|
| and        | Melakukan operasi AND |
| or         | Melakukan operasi OR  |
| not        | Melakukan operasi NOT |

In [25]:
# Contoh Operator and
a = 5
b = 10
print(a and b < 25)

# Contoh Operator or
c = 0
d = 20
print(c or d > 10)

# Contah Operator not
e = 25
f = 30
print(not(e and f > 100))

True
True
True

## Bitwise Operator
Operator Bitwise merupakan operator yang digunakan untuk melakukan operasi berdasarkan bit atau bilangan biner.

| Operator | Fungsi                |
|----------|-----------------------|
| &        | Melakukan operasi AND |
| I        | Melakukan operasi OR  |
| ^        | Melakukan operasi XOR |
| ~        | Negasi                |

Let us see the Truth Table behind Python Bitwise Operators is:

| X	| Y	| X & Y | X I Y	| X ^ Y|
|---|---|-------|-------|------|
| 0	| 0	| 0	    | 0	    | 0    |
| 0	| 1	| 0	    | 1	    | 1    |
| 1	| 0	| 0	    | 1	    | 1    |
| 1	| 1	| 1  	| 1	    | 0    |

In [26]:
a = 9
b = 65
print("Bitwise AND Operator On 9 and 65 is = ", a & b)
print("Bitwise OR Operator On 9 and 65 is = ", a | b)
print("Bitwise EXCLUSIVE OR Operator On 9 and 65 is = ", a ^ b)
print("Bitwise NOT Operator On 9 is = ", ~a)

Bitwise AND Operator On 9 and 65 is =  1
Bitwise OR Operator On 9 and 65 is =  73
Bitwise EXCLUSIVE OR Operator On 9 and 65 is =  72
Bitwise NOT Operator On 9 is =  -10

Lets see the calculations<br>
Bitwise AND Operation = a & b<br>
00001001 & 01000001 = 00000001 = 1<br>

Bitwise OR Operation = a | b<br>
00001001 | 01000001 = 01001001 = 73<br>

Bitwise Exclusive OR Operation in Python = a ^ b<br>
00001001 ^ 01000001 = 01001000 = 72<br>

source example Bitwise Operator : https://www.tutorialgateway.org/python-bitwise-operators/